<div class="row">
  <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
    <label>My Searches: <%= @my_searches %></label>
  </div>
  <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
    <label>Total Searches: <%= @total_searches %></label>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
<table class="table table-responsive" id="users_searches">
  <thead>
    <tr>
      <th>User Email</th>
      <th>Searches</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
    <td><%= user.email %></td>  
    <td><%= user.searches.count %></td>  
  </tr>
  <% end %>
 </tbody>
</table>

  </div>
</div>
