<h3>Parse Ecourt</h3>
<%= render 'ecourt/partials/form_horizontal' %>

<div class="row" id="process" style="display:none">
  <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
    <center>Searching...</center>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
    <center><progress></progress></center>
  </div>
</div>

<br/>

<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
    <div id="result" ></div>
  </div>
</div>


<script>
$(document).ready(function(){

$("body").on('change', '#state_code', function(){
    $.ajax({
      url: '<%= ecourt_districts_path %>',
      beforeSend: function(xhr){
        $("#dist_code").html('<option value="-1">---</option>')
      },
      data: {state_code: $(this).val()},
      success: function(data){
        options = '<option value="-1">Select District</option>';
        $.each(data, function(i, dist){options +='<option value="'+dist.code+'">'+dist.name+'</option>'})
        $("#dist_code").html(options)
      }
    });
    });


$("body").on('change', "#dist_code", function(){
    $("input[name='court_type']").removeAttr('checked')
    $("#court_code").html('<option value="-1">Select Court</option>')
    $.ajax({
      	url: '<%= ecourt_courts_path %>',
      	data: {state_code: $('#state_code').val(), dist_code: $("#dist_code").val()},
      	success: function(data){
        	options = '';
        	$.each(data.complex, function(i, court){
		   options +='<div class="checkbox">'
			       +'<label><input type="checkbox" class="court_code_arr" court-name="'+court.name+'"name="court_code_arr[]" value="'+court.code+'"/>'+court.name+'</label>'
			   +'</div>'
		 })
        	$("#court_code_arr").html(options)

        	options = '';
        	$.each(data.establishment, function(i, court){
		   options +='<div class="checkbox">'
				+'<label><input type="checkbox" class="court_code" court-name="'+court.name+'" name="court_code[]" value="'+court.code+'"/>'+court.name+'</label>'
			     +'</div>'
		})
        	$("#court_code").html(options)
      	}
    });
});


$("form").submit(function(){
  court_complex=[];
  $(".court_code_arr:checked").each(function(){court_complex.push({'code': $(this).val(), 'name': $(this).attr('court-name')})})

  court_establishment = [];
  $(".court_code:checked").each(function(){court_establishment.push({'code': $(this).val(), 'name' : $(this).attr('court-name')})})

  $.ajax({
      url: '<%= ecourt_search_path %>',
      type: 'POST',
      beforeSend: function(xhr){
        xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
        $("#process").show();
        $("#result").html('')
      },
      data: {
              state_code: $('#state_code').val(), 
              dist_code: $("#dist_code").val(), 
              court_complex: court_complex,
              court_establishment: court_establishment,
              from_year: $('#from_year').val(),
              to_year: $('#to_year').val(),
              name: $('#name').val()
            },
      success: function(result){
        $("#result").html(result)
        $("#process").hide();
      }
    });
    return false;
})
})
</script>
