<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div id="user_list_div">
      <%= render 'control_panel/authorization/user_list' , :users_list=>@users%>
    </div>
  </div>
</div>


<script>
$(document).ready(function(){
    $("body").on('click', '.lock', function(){
      $.ajax({
          url: $(this).attr('update'),
          data: {lock: $(this).val()},
          type: 'PUT',
          success: function(result){
            $("#user_list_div").html(result) 
          }
        })
      });

    $("body").on('click', '.admin', function(){
      $.ajax({
          url: $(this).attr('update'),
          data: {admin: $(this).val()},
          type: 'PUT',
          success: function(result){
            $("#user_list_div").html(result) 
          }
        })
      });
      });
</script>
