<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Parser Ecourt! Save your time</title>

<link href="/themes/admin/css/bootstrap.min.css" rel="stylesheet">
<link href="/themes/admin/css/sb-admin.css" rel="stylesheet">
<link href="/themes/admin/css/plugins/morris.css" rel="stylesheet">
<link href="/themes/admin/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<script src="/themes/admin/js/jquery.js"></script> 
<!-- Bootstrap Core JavaScript --> 
<script src="/themes/admin/js/bootstrap.min.js"></script>

<!-- DatePicker -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker.css"/>


<%# = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>

