<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <%= render 'shared/filter_by_form' %>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h3><i class="fa fa-search"></i> Searches <small>(<%= @searches.count %>)</small> </h3> <hr/>
    <%= render 'searches/partials/list' , :searches=>@searches%>
  </div>
</div>
