<div class="panel panel-<%= panel_class %>">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="huge"><%= number %></div>
        <div><strong><%= day %></stron></div>
      </div>
    </div>
  </div>
</div>

